.container {
    width: 100%;
    margin: auto;
}

.row {
    display: flex;
    align-items: center;
    background-color: sandybrown;
    border: 1px solid tomato;
    padding: 2vh;
}

.col {
    flex: 1;
}

.modal-container {
    display: flex;
    align-items: center;
    background-color: darkgray;
    opacity: 90%;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%
}

.modal {
    background-color: white;
    border-radius: 5px;
    text-align: center;
    padding: 20px;
    width: 50%;
    margin: auto;
}

.modal-header {
    display: flex;
    justify-content: space-evenly;
}

.fields-container {
    display: flex;
    justify-content: space-between;
}

.save-button {
    background-color: limegreen;
    padding: 5px;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5%;
}

.filter-button {
    background-color: mediumblue;
}

.clear-filter-button {
    background-color: mediumblue;
    
}

.sort-button {
    color: black;
    border: 0;
    padding: 10px;
    margin: 10px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5%;
}

app-todo-list-item {
    padding: 2vh;
}